.background-login{
    -fx-background-color: #F2F2F2;
}

.button {
    -fx-background-color: #004a99;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}

.text-field {
    -fx-background-radius: 8;
}

.password-field {
    -fx-background-radius: 8;
}
